h1#heading {
	text-align: center; 
}

h3#weekTitle {
	text-align: center; 
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}

input {
  display: inline-block;
  float: left;
}